<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         ul{
            display: flex;
            justify-content: space-between;
            background-color: aqua;
            border: 3px solid orange;
            padding: 10px; 
            list-style: none;  
            margin: 5;          

        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">Aboutus</a></li>
            <li><a href="{% url 'contact' %}">contact us</li>
            <li><a href="{% url 'services' %}">services</li>
            <li><a href="{% url 'projects' %}">projects</li>
        </ul>
    </nav>

    <h1>Welcome to Service page</h1>

</body>
</html>