<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul{
            display: flex;
            justify-content: space-between;
            background-color: aqua;
            border: 3px solid orange;
            padding: 10px;
        }
        li::before{
                list-style: none;
                font-size: 80pox;

        }
        
    </style>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>AboutUs</li>
            <li>Contact Us</li>
            <li>Services</li>
            <li>Projects</li>
        </ul>
    </nav>

    <h1>Welcome To DJANGO</h1>

    
</body>
</html>